{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 bg-light m-5">
                <h2>Calculate delivery duration</h2>
                <p>
                    <form accept-charset="UTF-8" action="" autocomplete="off" method="POST" class="border border-info p-5">
                        <label for="date_depart_week">Неделя отправления / Departure week</label><br />
                        <input type="number" name="date_depart_week" min="1" max="53"><br /><br />
                    
                        <label for="distance">Расстояние рейса / Distance</label><br />
                        <input type="number" name="distance" min="1"><br /><br />

                        <label for="rsv_org_id">Id грузополучателя / Receiver id</label><br />
                        <input type="number" name="rsv_org_id" min="0"><br /><br />

                        <label for="snd_dp_id">Id региона отправления / Source region id</label><br />
                        <input type="number" name="snd_dp_id" min="0"><br /><br />

                        <label for="rsv_dp_id">Id региона назначения / Destionation region id</label><br />
                        <input type="number" name="rsv_dp_id" min="0"><br /><br />

                        <button type="submit" value="Submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
                </p>
                {% if duration is defined %}
                    <p>Delivery duration:</p>
                    <p>{{ duration }} hours</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
